/*
    Main Header Component 
       src/components/Header/
 */
.nav-body {
  color: white;
  height: 70px;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 100vw; }

.Header-title, .Header-subtitle {
  display: inline-block;
  color: white;
  margin-left: 20px; }

/* 
  Leaderboard Component src/components/Leaderboard/
*/
.board {
  margin-bottom: 100px;
  overflow: hidden; }

/* 
        Title Component src/components/Leaderboard/Title
        */
#leaderboard-Title {
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 50px; }
  #leaderboard-Title h3 {
    color: white;
    padding: 10px 10px;
    margin: 0; }

/* 
            Table Header Component src/components/Leaderboard/TableHeader 
            */
#colheaders th {
  text-align: center; }

#colheaders a {
  cursor: pointer; }

@media screen and (max-width: 400px) {
  .table > thead > tr > th, .table > tbody > tr > th,
  .table > thead > tr > td, .table > tbody > tr > td {
    padding: 0; } }

/* 
            User Component src/components/Leaderboard/User 
            */
.idcol {
  width: 5%; }

.userimg {
  border: 2px solid #54b4eb;
  border-radius: 5px;
  margin-right: 5px;
  max-height: 50px;
  width: 50px; }

.idcol, .pointscol {
  text-align: center; }

/*
      Main Footer Component 
        src/components/Footer/
*/
#footer {
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  bottom: 0;
  color: white;
  height: 60px;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  width: 100vw; }
  #footer p {
    padding-top: 1em; }
  #footer span {
    margin-left: 1em; }
