$primary-color: white; 



/*
    Main Header Component 
       src/components/Header/
 */


.Header-title,.Header-subtitle {
    display: inline-block; 
    color: $primary-color; 
}

.Header-subtitle {
    margin-left: 20px; 
}

/* 
  Title Component src/components/Leaderboard/Title
*/ 

#leaderboard-Title {
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);  
    border-radius: 15px;  
    margin-top: 50px; 

     h3 { 
        color: $primary-color; 
        padding: 10px 10px; 
    }
}

/* 
  Table Header Component src/components/Leaderboard/TableHeader 
*/ 


/* 
  User Component src/components/Leaderboard/User 
*/ 
.idcol {
    width: 5%;
}
.userimg {
    border: 2px solid #54b4eb; 
    border-radius: 5px; 
    margin-right: 5px; 
    max-height: 50px; 
    width: 50px; 
}
.idcol, .pointscol  {
    text-align: center; 
}



/*
      Main Footer Component 
        src/components/Footer/
*/
#footer {
    margin-top: 100px; 

    .Footer {
        background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
        bottom: 0;
        color: $primary-color; 
        height: 60px;
        left: 0; 
        position: absolute;
        right: 0; 
        width: 100%;

        p  {
            font-size: 16px; 
            position: relative; 
            top: 30%; 
        }
    }
}